{{- range $serviceName, $service := .Values.services }}
{{- if $service.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $serviceName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ $serviceName }}
    {{- include "doa-market.labels" $ | nindent 4 }}
  {{- if $service.serviceAccount.annotations }}
  annotations:
    {{- toYaml $service.serviceAccount.annotations | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
